body {
background-color: black;
font-family: verdana;
}

h1 {
color:antiquewhite;
box-shadow: 0px 5px 8px 3px #aaa;
}

.container{
    width: 800px;
    height: 600px;
    margin-left: 400px;
    margin-top: 70px;
    margin-bottom: 40px;
    padding-left: 10px;
    text-align: center;
     border-radius: 50px;
     color: black;
}


.head{
    margin-top: 50px;

}

.title{
    width: 800px;
    height: 100px;
    background-color: rgba(4, 183, 153, 0.549);
    font-family: verdana;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 3px #aaa;




}


input{
border-radius: 10px;

background-color: rgba(59, 203, 179, 0.549);
}

.but{
padding-top: 10px;
}

.lot{
margin-left:900px;
}
#1a55a1;