.fom{
    width: 400px;
    height: 400px;
    margin-left: 550px;
    margin-top: 20px;
    text-align: center;
   background: transparent;
    border:2px solid rgba(255, 255, 255, .5);
    border-radius:20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    color:black;
}

body{
    background-color: black;
    font-family: verdana;
}

h1{
    width: 400px;
    height: 50px;
    margin-left: 550px;
    margin-top: 60px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .5);
    border-radius:20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: black;
}

#bg{
background-repeat: no-repeat;
background-size: 1800px 900px;
background-position: top;
background-attachment: fixed;
}

button{
border-radius: 10px;

background-color: rgba(59, 203, 179, 0.549);
cursor: pointer;
}